html    
    body 
        form(action="/addcontact" method="POST" enctype="multipart/form-data")
            label Name
            input(type="text" name="name")
            br
            br
            label mobile no.
            input(type="text" name="mobile")
            br
            br
            label Group 
            select(name='group')
                each val in ['friend' , 'family' , 'work','relative']
                    option=val
            br
            br
            label profilepic
            input(type="file" name="profilepic")
            br
            br
            button Add Contact
