html 
    head
        title Contacts
    body 
        h1(style="display:inline")
            a(href="/contactlist") All contacts 
            
        h1(style="display:inline") &emsp;
            a(href="/friend") Friends 
        h1(style="display:inline") &emsp;
            a(href="/family") Family  
        h1(style="display:inline") &emsp;
            a(href="/work") Work 
        h1(style="display:inline") &emsp;
            a(href="/relative") Relatives
